* {
    box-sizing: border-box;
  }
.body {
    display: flex;
    justify-content: center;
    
}

.btncontainer {
    display: flex;
    flex: auto;
    min-width: 400px;
    min-height: 300px;
}


.btncontainer button {
    flex: 1;
}